*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: red;
}

.checked {
    background-color: blue;
}

.switch{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
    margin: 10px 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a8b2d1;
    transition: .4s;
    border-style: solid;
    border-radius: 34px;
    border-color: #a8b2d1;
}

.switch input {
    display: none;
}

.slider::before{
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: #0a192f;
}

input:checked + .slider:before{
    transform: translateX(50px);
}
